.jumbotron,
.card-body,
.container,
.site-header {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.jumbotron .display-4 {
  font-weight: bold;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

footer a {
    color: #63427b;
    text-decoration: none;
}
.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffdffd;
  font-weight: normal;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: #fff3fe;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #fff3fe;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
  background-color: #fff;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

#imgecom {
  width: 100%;
}

.cajas {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.caja {
  width: 20%;
  height: auto;
}

#cajaimg {
  margin-left: 10%;
  width: 80%;
  align-self: center;
}

#cajalog {
  margin: 0% 10%;
  width: 40%;
  align-self: center;
}

#imagenlogo{ 
  display: block;
  width: 100%;
  margin: auto;
}

#user {
  background-color: #ECBEEB;
  width: 100%;
  padding: 5px 5px;
  border-radius: 3px;
  border: 1px solid #9D4D99;
  margin-bottom: 5%;
}

#contr {
  background-color: #ECBEEB;
  width: 100%;
  padding: 5px 5px;
  border-radius: 3px;
  border: 1px solid #9D4D99;
}

#botonIngreso {
  color: #fff;
  border: 3px solid #395b65;
  background-color: #395b65;
  border-radius: 3px;
  width: 100%;
}

#cajalog a {
  text-decoration: none;
  color: #395b65;
  float: right;
}

.not-checked {
  color:#bebebe
}

@media (max-width: 500px) {
  #cajaimg {
    display: none;
  }
  .cajas {
    display: block;
  }
  .caja {
    width: auto;
  }
  #cajalog {
    width: auto;
  }
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    margin: 0%
  }
  body {
    margin: 0 auto;
  }
  .jumbotron {
    background-size: contain;
    background-position: top;
    height: 100px;
    background-color: #f8f9fa
  }
  .mt-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem;
  }
}
/*Comentarios*/

#comentarioBox{
padding: 2%;
width: 67%;
font-size: 150%;
font-family: Arial, Helvetica, sans-serif;
}

label{
  text-align: left;
  justify-content: space-between;
  display: flex;
}

.estrella {
  color: #ccc;
  cursor: pointer;
}

.estrella.checked {
  color: orange;
}

#enviar{
  padding: 10px 35px;
  border-radius: 5%;
  color: white;
  background-color: #D88AD4;
  border: none;
}

#botonGuardar{
  background-color: #D88AD4;
  border: none;
  color: white;
  max-height: fit-content;
}

#arrobaName {
  
  margin-top: 5%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

#arroba{
  margin-bottom: 10%;
  color: rgb(168, 167, 167);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.valid {
  border-color: green !important;
}

.invalid {
  border-color: red !important;
}

.btn-cambiar-foto {
  background-color: #dc95d8; 
  color: white;
}

#profile {
  margin-top: 3%;
}

#profileImage {
  width: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

#flexSwitchCheckDefault {
  background-color: #D88AD4;
  border: #63427b;
}

#sell-info button.btn.btn-primary.btn-lg {
  background-color: #D88AD4;
  border: none;
  color: #fff
}

.night-mode{
  background-color: #3f3f3f;
  color: #fff;
  *:not(#userTop, .navbar-toggler, .carousel-indicators button){
  border-color: #818181 !important;
  }
  a,.btnCantidad, .bi-trash3 {color: #fff !important}
  .text-muted {color: #b8b8b8 !important;}
  main, .form-control, .dropdown-menu, .btn-light, 
  .list-group-item, .img-thumbnail, input:not(#flexSwitchCheckDefault),
  .card-body, #file-upload, .form-select, .btn-link, .album, .card{
    background-color: #3f3f3f !important;
    color: #fff !important;
  }
  .btn-check:checked+.btn-light, .btn-secondary, .bg-light:not(.album), .dropdown-item:hover{
    background-color: #818181 !important;
    color: #fff !important;
  }
  .breadcrumb-item+.breadcrumb-item::before {
    filter: invert(100%);
  }
  #contCompra, #vaciarCarrito{
    color: white;
  }
  .modal-content {
    background-color: #3f3f3f;
    border-color: #4d4d4d;
  }
  .btn-close, #back {
    filter: invert(100%);
  }
  .swal-modal {
    filter: invert(95%);
  }
}

#comprarProd, #comprarCart, #comprar{
  color: white;
  background-color: #D88AD4;  
  width: 100%;
}

#contCompra, #vaciarCarrito{
  color: #D88AD4;
  background: none;
  border: solid #D88AD4;
}

#comCompra, .pinkButton, .pinkButton:hover {
  color: white;
  background-color: #D88AD4;  
  border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { appearance:textfield; }

.btnCantidad {
  color: #4d4d4d;
  background: none;
  border: none;
}

.inputCantidad {
  color: #4d4d4d;
  border: none;
  width: 3em;
}

.divCantidad {
  background: none;
}

.bi-trash3 {
  color: #4d4d4d;
}

.modal-lg {
  margin-top: 6%;
  margin-left: 7%;
  width: 55%;
}

.bi-chevron-left {
  color: #7f7f7f;
  cursor: pointer;
}

#back{
  :hover {color: black;}
  padding: 0;
  border: none;
}

.icono-pago {
  height: 2em;
  width: auto;
  margin-top: 2em;
  margin-bottom: 2em
}

.icono-pago2 {
  height: 3em;
  width: auto;
  margin-top: 2em;
  margin-bottom: 2em
}

.carrito-label {
  text-align: left;
  justify-content: flex-start;
}

input[type="radio"] {
  margin-right: 1em;
}