.jumbotron,
.card-body,
.container,
.site-header {
  font-family: Arial, sans-serif;
}

.jumbotron .display-4 {
  font-weight: bold;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

footer a {
    color: #63427b;
    text-decoration: none;
}
.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
  background-color: #fff;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

#imgecom {
  width: 100%;
}

.cajas {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.caja {
  width: 20%;
  height: auto;
}

#cajaimg {
  margin-left: 10%;
  width: 80%;
  align-self: center;
}

#cajalog {
  margin: 0% 10%;
  width: 40%;
  align-self: center;
}

#imagenlogo{ 
  display: block;
  width: 100%;
  margin: auto;
}

#email {
  background-color: #ECBEEB;
  width: 100%;
  padding: 5px 5px;
  border-radius: 3px;
  border: 1px solid #9D4D99;
}

#contr {
  background-color: #ECBEEB;
  width: 100%;
  padding: 5px 5px;
  border-radius: 3px;
  border: 1px solid #9D4D99;
}

#botonIngreso {
  color: #fff;
  border: 3px solid #395b65;
  background-color: #395b65;
  border-radius: 3px;
  width: 100%;
}

#cajalog a {
  text-decoration: none;
  color: #395b65;
  float: right;
}

@media (max-width: 500px) {
  #cajaimg {
    display: none;
  }
  .cajas {
    display: block;
  }
  .caja {
    width: auto;
  }
  #cajalog {
    width: auto;
  }
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    margin: 0%
  }
  body {
    margin: 0 auto;
  }
  .jumbotron {
    background-size: contain;
    background-position: top;
    height: 100px;
    background-color: #f8f9fa
  }
  .mt-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem;
  }
}